*{
    padding: 0;
    margin: 0;   
}

img {
    max-width: 200%;
}

header {
    background-color: #4B0086;
    color: #FFFFFF;
    padding: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainCuriosidades{
    flex-direction: column;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
    color: #333333;
    text-align: center;
}

#pags {
    display: flex;
}
  
#pags a {
    text-decoration: none;
    margin-right: 10px;
}

#barra-pesquisa img{
    width: 7%;
}

#barra-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.pesquisa {
    background-color: white;
    width: 360px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.pesquisa input{
    border: none;
    outline: none;
    width: 350px;
    background-color: transparent;
}

.pesquisa button{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: black;
}
  
button {
    background-color: #4B0086;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
button:hover {
    background-color: #800080;
}

#secoes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
  
#secoes div {
    margin: 10px;
}
  
#secoes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  
#secoes img {
    width: 210px;
    height: 195px;
}
  
footer {
    background-color: #4B0086;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
  
.footer p {
    margin: 0;
}
  
.footer a {
    color: #FFFFFF;
    text-decoration: none;
}
  
.footer a:hover {
    text-decoration: underline;
}

#secoes {
    width: 100%;
}

.btn-img {
    height: 200px;
    width: 100%;
    flex: 1;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.btn-img.img1 {
    background-image: url(img/1.png);
}

.btn-img.img2 {
    background-image: url(img/2.png);
}

.btn-img.img3 {
    background-image: url(img/3.png);
}

.btn-img.img4 {
    background-image: url(img/4.png);
}

.btn-img.img5 {
    background-image: url(img/5.png);
}

h3 {
    font-size: 24px;
    margin-top: 20px;
    color: #333333;
    text-align: center;
}

th, td {
    padding: 20px;
}

#comentario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#historico{
    display: flex;
    column-width: auto;
   padding: 6%;
   margin-top: 25px;
}

#livro{
    display: flex;
    column-width:auto ;
}